<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2011-2019 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA, and/or its subsidiaries and/or its affiliates and/or their licensors.
  Use, reproduction, transfer, publication or disclosure is prohibited except as specifically provided for in your License Agreement with Software AG.

  -->

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>

  <!-- Basic code style -->
  <!-- No tabs -->
  <module name="FileTabCharacter"/>
  <!-- Enforce UNIX line endings. -->
  <module name="RegexpMultiline">
    <property name="format" value="(?s:\r\n.*)"/>
  </module>
  <!-- no trailing whitespace -->
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Trailing whitespace"/>
  </module>

  <module name="SuppressionFilter">
    <property name="file" value="${config_loc}/checkstyle-suppressions.xml"/>
    <property name="optional" value="true"/>
  </module>

</module>
